<ion-header>
  <ion-toolbar>
    <ion-title>
      About reStore
    </ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goBack()">
        <ion-icon name="ios-arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="aboutmain">
    <div class="abouttop ion-text-center">
      <img src="../../../assets/img/restoreblack.png" alt="">
      <h5 class="ion-no-margin">reStore</h5>
      <span>Version 1.0</span>
      <p class="ion-no-margin">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique atque corrupti tempore iste quisquam
        expedita facere pariatur aliquam! Eligendi placeat fugit, voluptas ut dolor omnis facere ducimus asperiores
        magni facilis!
      </p>
    </div>
    <div class="aboutbot">
      <ion-list lines="none">
        <ion-item class="ion-no-padding" detail="true">
          <ion-icon name="logo-facebook"></ion-icon>
          <a href="#">Like us on Facebook</a>
        </ion-item>
        <ion-item class="ion-no-padding" detail="true">
          <ion-icon name="logo-twitter"></ion-icon>
          <a href="#">Follow us on Facebook</a>
        </ion-item>
        <ion-item class="ion-no-padding" detail="true">
          <ion-icon name="logo-linkedin"></ion-icon>
          <a href="#">Follow us on Linkedin</a>
        </ion-item>
        <ion-item class="ion-no-padding" detail="true">
          <ion-icon name="logo-instagram"></ion-icon>
          <a href="#">Follow us on Facebook</a>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>