<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="homemain">
    <ion-row>
      <ion-col size="6" (click)="openProduct(prod)" *ngFor="let prod of allProds">
        <div class="homecard">
          <img [src]="prod?.images[0]" alt="">
          <div class="home-inner">
            <ion-badge color="dark" class="ion-text-capitalize">{{prod?.category}}</ion-badge>
            <h6 class="ion-no-margin ion-text-capitalize">
              {{prod?.name}}
            </h6>
            <p class="ion-no-margin ion-text-right">GH<span>&cent;</span>{{prod?.price}}</p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>