<ion-content>
  <div class="loginmain">
    <div class="lback-btn">
      <ion-button color="primary" fill="clear" (click)="goBack()">
        <ion-icon name="ios-arrow-back" slot="start"></ion-icon>
        Back
      </ion-button>
    </div>
    <div class="logintop ion-text-left">
      <img src="../../../assets/img/restoreblack.png" alt="">
      <h4 class="ion-no-margin">Welcome to <br>reStore</h4>
      <h6 class="ion-no-margin">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae est blanditiis rem necessitatibus. Ut magnam
        facilis sapiente beatae placeat.
      </h6>
    </div>
    <div class="loginmid ion-text-center">
      <h6 class="ion-no-margin">Sign in here</h6>
      <ion-button color="primary" (click)="login()">
        <ion-icon name="logo-googleplus" slot="start"></ion-icon>
        SIGN IN WITH GOOGLE
      </ion-button>
    </div>
  </div>
</ion-content>